<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsopPYe4NCVWxAkOnqBKsnU5JeY8-mWaE</string>
	<key>GCM_SENDER_ID</key>
	<string>725060716525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hk.edu.shape.IOS-project</string>
	<key>PROJECT_ID</key>
	<string>app-project-26e57</string>
	<key>STORAGE_BUCKET</key>
	<string>app-project-26e57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725060716525:ios:8518990947ec55869d49e4</string>
</dict>
</plist>